caAERSServices/AdverseEvent/AdverseEventManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.caaers.cabig.nci.nih.gov/adverseevent" xmlns:tns="http://webservice.caaers.cabig.nci.nih.gov/adverseevent" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://webservice.caaers.cabig.nci.nih.gov/adverseevent" elementFormDefault="unqualified" targetNamespace="http://webservice.caaers.cabig.nci.nih.gov/adverseevent">

            
    <xs:element name="AdverseEventsInputMessage">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions.             	
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence> 
            	<xs:choice>         	
	                <xs:element ref="adverseEvents">
	                        <xs:annotation>
					            <xs:documentation> List of Adverse Events to create or update. </xs:documentation>
					        </xs:annotation>
	                </xs:element>
					<xs:element ref="adverseEventTerms">
	                        <xs:annotation>
					            <xs:documentation> List of Adverse Event Terms to delete. </xs:documentation>
					        </xs:annotation>						
					</xs:element>
                </xs:choice>  
                <xs:element ref="criteria">
                        <xs:annotation>
				            <xs:documentation>Adverse Event Creation Criteria .
				            	Required Criteria : Participant Identifier , Stuy Identifier , course/cycle information.
				            	Conditions enforced in servive implementation.
				            	1. Participant and Study should be existing in caAERS.
				            	2. Adverse Event Management Service creates course if course is not present in caAERS System.   	
				            </xs:documentation>
				        </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
    <xs:element name="adverseEventTerms" type="AdverseEventTerms"/>   
    <xs:complexType name="AdverseEventTerms">
	         <xs:choice> 
	         		<xs:element maxOccurs="unbounded" minOccurs="1" name="adverseEventMeddraLowLevelTerm" type="AdverseEventMeddraLowLevelTermType"/>                   	
	                <xs:element maxOccurs="unbounded" minOccurs="1" name="adverseEventCtcTerm" type="AdverseEventCtcTermType"/>
             </xs:choice>
     </xs:complexType>
	                
    <xs:element name="criteria" type="Criteria"/>   

 	<xs:complexType name="Criteria">
        <xs:sequence>
        	<xs:element minOccurs="1" name="participantIdentifier" type="CustomStringType"/>
        	<xs:element minOccurs="1" name="studyIdentifier" type="CustomStringType"/>
        	<xs:element minOccurs="1" name="course" type="CourseType"/>
        </xs:sequence>
    </xs:complexType>         	


    <xs:complexType name="CourseType">
                <xs:sequence>
                	<xs:annotation>
				            <xs:documentation>
				            	Course Criteria Conditions enforced in service Implementation.
				            	1. Start date of this course/cycle cannot be earlier than the Start date of first course/cycle.
				            	2. Course End date cannot be earlier than Start date.
				            	3. For Non-Baseline treatment type Start date cannot be equal to End date.
				            	4. Course/cycle cannot overlap with an existing course/cycle.
								5. Baseline treatment type cannot start after an existing Non-Baseline treatment type.
								6. Non-Baseline treatment type cannot start before an existing Baseline treatment type.
				            	
				            </xs:documentation>
				     </xs:annotation>
                    <xs:element minOccurs="0" name="startDateOfFirstCourse" type="xs:date"/>
                    <xs:element minOccurs="1" name="startDateOfThisCourse" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDateOfThisCourse" type="xs:date"/>
                    <xs:element minOccurs="1" name="treatmentType" type="CustomStringType"/>
                    <xs:element minOccurs="0" name="cycleNumber" type="xs:integer"/>
                    <xs:choice>
	                    <xs:element minOccurs="1" name="treatmentAssignmentCode" type="xs:string"/>
	                    <xs:element minOccurs="1" name="otherTreatmentAssignmentDescription" type="xs:string"/>
                    </xs:choice>
                </xs:sequence> 
    </xs:complexType>


    <xs:element name="adverseEvents">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="adverseEvent"/>
            </xs:sequence>
        </xs:complexType>        
    </xs:element>
    
    <xs:complexType name="DomainObject">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
    
    <xs:complexType name="MutableDomainObject">
        <xs:complexContent>
            <xs:extension base="DomainObject">
                <xs:attribute name="version" type="xs:integer"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>  
    
    <xs:element name="adverseEvent" type="AdverseEventType"/>
    <xs:complexType name="AdverseEventType">
        <xs:complexContent>
            <xs:extension base="MutableDomainObject">
                <xs:sequence>
                	<xs:element minOccurs="0" name="verbatim" type="xs:string"/>
                    <xs:element minOccurs="1" name="grade" type="GradeType"/>
                    <xs:element minOccurs="0" name="hospitalization" type="HospitalizationType"/>
                    <xs:element minOccurs="0" name="expected" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="attributionSummary" type="AttributionType"/>
                    <xs:element minOccurs="0" name="comments" type="xs:string"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:date"/>  
                    <xs:choice>                    	
                   		<xs:element minOccurs="1" name="adverseEventCtcTerm" type="AdverseEventCtcTermType"/>
                   		<xs:element minOccurs="1" name="adverseEventMeddraLowLevelTerm" type="AdverseEventMeddraLowLevelTermType"/>
                    </xs:choice> 
                    <xs:element minOccurs="0" name="otherMeddra" type="AdverseEventMeddraLowLevelTermType"/>
                   	<xs:element maxOccurs="unbounded" minOccurs="0" name="outcome" type="OutcomeType"/>  
                    <xs:element minOccurs="0" name="eventApproximateTime" type="TimeType"/>
                    <xs:element minOccurs="0" name="eventLocation" type="xs:string"/>
                    <!-- <xs:element name="requiresReporting" type="xs:boolean" minOccurs="0"/>  -->
                   <!-- <xs:element name="gradedDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="reported" type="xs:boolean" minOccurs="0"/>	-->
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
   </xs:complexType>  
    <xs:complexType name="TimeType">
                <xs:sequence>
                  <xs:element minOccurs="1" name="hour" type="xs:integer"/>
                  <xs:element minOccurs="1" name="minute" type="xs:integer"/>
                  <xs:element minOccurs="1" name="ampm" type="AMPM"/>
                </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdverseEventCtcTermType">
                <xs:sequence>
                  <xs:element name="ctep-term" type="CustomStringType"/>
                  <!--
                  <xs:element name="ctep-code" type="xs:string"/>
                  <xs:element name="ctc-version" type="CtcVersionEnum"/>-->
                </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EpochType">
                <xs:sequence>
                  <xs:element name="name" type="xs:string"/>
                  <xs:element name="descriptionText" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
           
    <xs:complexType name="AdverseEventMeddraLowLevelTermType">
                <xs:sequence>
                  <xs:element minOccurs="1" name="meddraCode" type="xs:string"/>
                  <xs:element minOccurs="1" name="meddraTerm" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
        

    <xs:complexType name="OutcomeType">
                <xs:sequence>
                  <xs:element minOccurs="1" name="outComeEnumType" type="OutComeEnumType"/>
                  <xs:element minOccurs="0" name="other" type="xs:string"/>
                </xs:sequence>
    </xs:complexType> 
    
	<!-- FIXED Types  --> 
    <xs:simpleType name="AMPM">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AM"/>
            <xs:enumeration value="PM"/>
        </xs:restriction>
    </xs:simpleType>
    	
    <xs:simpleType name="CtcVersionEnum">
        <xs:restriction base="xs:int">
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType> 	
	      
     
    <xs:simpleType name="OutComeEnumType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEATH"/>
            <xs:enumeration value="HOSPITALIZATION"/>
            <xs:enumeration value="LIFE_THREATENING"/>
            <xs:enumeration value="DISABILITY"/>
            <xs:enumeration value="CONGENITAL_ANOMALY"/>
            <xs:enumeration value="REQUIRED_INTERVENTION"/>
            <xs:enumeration value="OTHER_SERIOUS"/>
        </xs:restriction>
    </xs:simpleType>   
          
    <xs:simpleType name="GradeType">
        <xs:restriction base="xs:int">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
        </xs:restriction>
    </xs:simpleType>     
    <xs:simpleType name="HospitalizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="YES"/>
            <xs:enumeration value="NO"/>
        </xs:restriction>
    </xs:simpleType>    
    <xs:simpleType name="AttributionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNRELATED"/>
            <xs:enumeration value="UNLIKELY"/>
            <xs:enumeration value="POSSIBLE"/>
            <xs:enumeration value="PROBABLE"/>
            <xs:enumeration value="DEFINITE"/>
        </xs:restriction>
    </xs:simpleType>  
    <xs:simpleType name="EpochNameEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Baseline"/>
            <xs:enumeration value="Pre-Treatment"/>
            <xs:enumeration value="Treatment"/>
            <xs:enumeration value="Post-treatment"/>
        </xs:restriction>
    </xs:simpleType>    

	<xs:simpleType name="ResponseCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>    
    </xs:simpleType>
	
	<xs:element name="Response" type="Response"/>
    <xs:complexType name="Response">
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="description" type="xs:string"/>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="message" type="xs:string"/>
    	</xs:sequence>
    	<xs:attribute name="responsecode" type="ResponseCodeType"/>
    </xs:complexType>
    
    <xs:element name="CaaersServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Response"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
           <xs:minLength value="1"/>
           <xs:whiteSpace value="collapse"/> 
        </xs:restriction>
    </xs:simpleType>  
    

<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="createOrUpdateAdverseEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:AdverseEventsInputMessage"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="createOrUpdateAdverseEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:CaaersServiceResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="deleteAdverseEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:AdverseEventsInputMessage"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="deleteAdverseEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:CaaersServiceResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="createAdverseEvent">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:AdverseEventsInputMessage"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="createAdverseEventResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:CaaersServiceResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createOrUpdateAdverseEventRequest">
    <wsdl:part name="parameters" element="tns:createOrUpdateAdverseEvent"/>
  </wsdl:message>
  <wsdl:message name="createOrUpdateAdverseEventResponse">
    <wsdl:part name="parameters" element="tns:createOrUpdateAdverseEventResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteAdverseEventResponse">
    <wsdl:part name="parameters" element="tns:deleteAdverseEventResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteAdverseEventRequest">
    <wsdl:part name="parameters" element="tns:deleteAdverseEvent"/>
  </wsdl:message>
  <wsdl:message name="createAdverseEventResponse">
    <wsdl:part name="parameters" element="tns:createAdverseEventResponse"/>
  </wsdl:message>
  <wsdl:message name="createAdverseEventRequest">
    <wsdl:part name="parameters" element="tns:createAdverseEvent"/>
  </wsdl:message>
  <wsdl:portType name="AdverseEventManagementServiceIntf">
    <wsdl:operation name="createOrUpdateAdverseEvent">
      <wsdl:input name="createOrUpdateAdverseEventRequest" message="tns:createOrUpdateAdverseEventRequest"/>
      <wsdl:output name="createOrUpdateAdverseEventResponse" message="tns:createOrUpdateAdverseEventResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteAdverseEvent">
      <wsdl:input name="deleteAdverseEventRequest" message="tns:deleteAdverseEventRequest"/>
      <wsdl:output name="deleteAdverseEventResponse" message="tns:deleteAdverseEventResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createAdverseEvent">
      <wsdl:input name="createAdverseEventRequest" message="tns:createAdverseEventRequest"/>
      <wsdl:output name="createAdverseEventResponse" message="tns:createAdverseEventResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdverseEventManagementServiceHttpBinding" type="tns:AdverseEventManagementServiceIntf">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createOrUpdateAdverseEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createOrUpdateAdverseEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createOrUpdateAdverseEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAdverseEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deleteAdverseEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteAdverseEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAdverseEvent">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createAdverseEventRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAdverseEventResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdverseEventManagementService">
    <wsdl:port name="AdverseEventManagementServiceHttpPort" binding="tns:AdverseEventManagementServiceHttpBinding">
      <wsdlsoap:address location="https://oracle.qa.semanticbits.com/caaers/services/AdverseEventManagementService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
