caAERSServices/ResearchStaff/ResearchStaffMigratorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/researchstaff" xmlns:tns="http://schema.integration.caaers.cabig.nci.nih.gov/researchstaff" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://schema.integration.caaers.cabig.nci.nih.gov/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/researchstaff" xmlns:cct="http://schema.integration.caaers.cabig.nci.nih.gov/common" elementFormDefault="unqualified" targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/researchstaff">

    <xs:import namespace="http://schema.integration.caaers.cabig.nci.nih.gov/common"/>

    <xs:element name="staff">
        <xs:annotation>
            <xs:documentation> The top level (typically root) element. Allows the definition of
                default values for all nested bean definitions. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="researchStaff"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="researchStaff" type="ResearchStaffType"/>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="cct:ResearchStaffType">
            <xs:sequence>
                <xs:element name="siteResearchStaffs">
                     <xs:complexType>
                         <xs:sequence>
                             <xs:element maxOccurs="unbounded" minOccurs="1" ref="siteResearchStaff"/>
                         </xs:sequence>
                     </xs:complexType>
                </xs:element>
            </xs:sequence>    
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="siteResearchStaff" type="SiteResearchStaffType"/>
    <xs:complexType name="SiteResearchStaffType">
        <xs:complexContent>
            <xs:extension base="cct:SiteResearchStaffType">
                <xs:sequence>
                    <xs:element minOccurs="1" ref="cct:organizationRef"/>
	                <xs:element name="siteResearchStaffRoles">
	                     <xs:complexType>
	                         <xs:sequence>
	                             <xs:element maxOccurs="unbounded" minOccurs="1" ref="siteResearchStaffRole"/>
	                         </xs:sequence>
	                     </xs:complexType>
	                </xs:element>
	                <xs:element maxOccurs="1" minOccurs="0" name="associateAllStudies" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="siteResearchStaffRole" type="SiteResearchStaffRoleType"/>
    <xs:complexType name="SiteResearchStaffRoleType">
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="role" type="Role"/>
			<xs:element maxOccurs="1" minOccurs="1" name="startDate" type="xs:date"/>
            <xs:element name="endDate" type="xs:date"/>
         </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="Role">
        <xs:restriction base="xs:string">
            <xs:enumeration value="caaers_participant_cd">
            	<xs:annotation>
					  <xs:documentation>Subject coordinator </xs:documentation>
 				</xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="caaers_study_cd">
                <xs:annotation>
					  <xs:documentation>Study coordinator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
            <xs:enumeration value="caaers_ae_cd">
                <xs:annotation>
					  <xs:documentation>Adverse event coordinator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
            <xs:enumeration value="caaers_site_cd">
               <xs:annotation>
					  <xs:documentation>Site coordinator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
 			<xs:enumeration value="caaers_data_cd">
               <xs:annotation>
					  <xs:documentation>Coordinating Center Data Coordinator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
 			<xs:enumeration value="caaers_central_office_sae_cd">
               <xs:annotation>
					  <xs:documentation>Coordinating Center SAE Coordinator </xs:documentation>
 				</xs:annotation>
 			</xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="saveResearchStaff">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="tns:staff"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="saveResearchStaffResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="ns1:CaaersServiceResponse"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.integration.caaers.cabig.nci.nih.gov/common" elementFormDefault="unqualified" targetNamespace="http://schema.integration.caaers.cabig.nci.nih.gov/common">

    <xs:complexType name="DomainObjectType">
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>

    <xs:element name="treatmentAssignment" type="TreatmentAssignmentType"/>
    <xs:complexType name="TreatmentAssignmentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="code" type="CustomStringType"/>
                    <xs:element minOccurs="0" name="doseLevelOrder" type="CustomStringType"/>
                    <xs:element name="description" type="CustomStringType"/>
                    <xs:element minOccurs="0" name="comments" type="CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="identifier" type="IdentifierType"/>
    <xs:complexType name="IdentifierType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="value" type="KnownIdentifierTypes"/>
                    <xs:element name="primaryIndicator" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationAssignedIdentifier" type="OrganizationAssignedIdentifierType"/>
    <xs:complexType name="OrganizationAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element ref="organizationRef"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="systemAssignedIdentifier" type="SystemAssignedIdentifierType"/>
    <xs:complexType name="SystemAssignedIdentifierType">
        <xs:complexContent>
            <xs:extension base="IdentifierType">
                <xs:sequence>
                    <xs:element name="systemName" type="CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="agentRef" type="AgentRefType"/>
    <xs:complexType name="AgentRefType">
        <xs:sequence>
            <xs:element name="nscNumber" type="CustomStringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="agent" type="AgentType"/>
    <xs:complexType name="AgentType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element name="name" type="CustomStringType"/>
                    <xs:element name="descriptionText" type="CustomStringType"/>
                    <xs:element name="nscNumber" type="CustomStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="investigationalNewDrug" type="InvestigationalNewDrugType"/>
    <xs:complexType name="InvestigationalNewDrugType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="indHolder" type="IndHolderType"/>
                    <xs:element name="indNumber" type="xs:integer"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="indHolder" type="IndHolderType"/>
    <xs:complexType name="IndHolderType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element ref="investigatorRef"/>
                    <xs:element ref="organizationRef"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="diseaseTerm" type="DiseaseTermType"/>
    <xs:complexType name="DiseaseTermType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:choice>
                    <xs:element name="term" type="CustomStringType"/>
                    <xs:element name="meddraCode" type="CustomStringType"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organization" type="OrganizationType"/>
    <xs:complexType name="OrganizationType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="descriptionText" type="CustomStringType"/>
                    <xs:element name="name" type="CustomStringType"/>
                    <xs:element name="nciInstituteCode" type="CustomStringType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="organizationRef" type="OrganizationRefType"/>
    <xs:complexType name="OrganizationRefType">
        <xs:sequence>
            <xs:element name="nciInstituteCode" type="CustomStringType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="person" type="PersonType"/>
    <xs:complexType name="PersonType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="firstName" type="CustomStringType"/>
                    <xs:element name="lastName" type="CustomStringType"/>
                    <xs:element name="middleName" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="researchStaffRef" type="ResearchStaffRefType"/>
    <xs:complexType name="ResearchStaffRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="researchStaff" type="ResearchStaffType"/>
    <xs:complexType name="ResearchStaffType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="faxNumber" type="xs:string"/>
                    <xs:element name="nciIdentifier" type="xs:string"/>
                    <xs:element name="phoneNumber" type="CustomStringType"/>
                    <xs:element name="loginId" type="xs:string"/>
					<xs:element name="street" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element name="zip" type="xs:string"/>
                    
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="siteInvestigator" type="SiteInvestigatorType"/>
    <xs:complexType name="SiteInvestigatorType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="statusCode" type="StatusCodeType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="siteResearchStaff" type="SiteResearchStaffType"/>
    <xs:complexType name="SiteResearchStaffType">
        <xs:complexContent>
            <xs:extension base="DomainObjectType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="xs:string"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                    <xs:element name="faxNumber" type="xs:string"/>
                    <xs:element name="street" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element name="zip" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    <xs:element name="investigatorRef" type="InvestigatorRefType"/>
    <xs:complexType name="InvestigatorRefType">
        <xs:sequence>
            <xs:element name="nciIdentifier" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="investigator" type="InvestigatorType"/>
    <xs:complexType name="InvestigatorType">
        <xs:complexContent>
            <xs:extension base="PersonType">
                <xs:sequence>
                    <xs:element name="emailAddress" type="CustomStringType"/>
                    <xs:element name="faxNumber" type="xs:string"/>
                    <xs:element name="nciIdentifier" type="xs:string"/>
                    <xs:element name="phoneNumber" type="CustomStringType"/>
                    <xs:element name="allowedToLogin" type="xs:boolean"/>
                    <xs:element name="loginId" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="RoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Principle Investigator"/>
            <xs:enumeration value="Site Investigator"/>
            <xs:enumeration value="Principal Investigator"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PersonnelRoleCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Participant Coordinator"/>
            <xs:enumeration value="Study Coordinator"/>
            <xs:enumeration value="Adverse Event Coordinator"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="StatusCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACT">
                <xs:annotation>
					  <xs:documentation>Active </xs:documentation>
 				</xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INA">
            	<xs:annotation>
					  <xs:documentation>Inactive </xs:documentation>
 				</xs:annotation>            
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DesignCodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLIND"/>
            <xs:enumeration value="OPEN_UNBLIND"/>
            <xs:enumeration value="PARTIAL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NA_COMMERCIAL"/>
            <xs:enumeration value="IND_EXEMPT"/>
            <xs:enumeration value="DCP_IND"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="CTEP_IND"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CustomStringType">
        <xs:restriction base="xs:normalizedString">
            <xs:minLength value="1"/>
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TherapyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Drug Administration"/>
            <xs:enumeration value="Radiation"/>
            <xs:enumeration value="Surgery"/>
            <xs:enumeration value="Device"/>
            <xs:enumeration value="Behavioral"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="KnownIdentifierTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Site Identifier"/>
            <xs:enumeration value="Site IRB Identifier"/>
            <xs:enumeration value="ClinicalTrails.gov Identifier"/>
            <xs:enumeration value="Grid Identifier"/>
            <xs:enumeration value="C3D Identifier"/>
            <xs:enumeration value="Protocol Authority Identifier"/>
            <xs:enumeration value="Coordinating Center Identifier"/>
        </xs:restriction>
    </xs:simpleType>
    
	
	<xs:complexType name="WsError">
		<xs:sequence>
			<xs:element name="exception" type="xs:string"/>
			<xs:element name="errorDesc" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Processed"/>
			<xs:enumeration value="Failed to Process"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="ServiceResponse" type="ServiceResponse"/>
    <xs:complexType name="ServiceResponse">
    	<xs:sequence>
    		<xs:element name="status" type="Status"/>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="wsError" type="WsError"/>
    	</xs:sequence>
    </xs:complexType>
    
        <xs:element name="CaaersServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ServiceResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="saveResearchStaffResponse">
    <wsdl:part name="parameters" element="tns:saveResearchStaffResponse"/>
  </wsdl:message>
  <wsdl:message name="saveResearchStaffRequest">
    <wsdl:part name="parameters" element="tns:saveResearchStaff"/>
  </wsdl:message>
  <wsdl:portType name="ResearchStaffMigratorServiceIntf">
    <wsdl:operation name="saveResearchStaff">
      <wsdl:input name="saveResearchStaffRequest" message="tns:saveResearchStaffRequest"/>
      <wsdl:output name="saveResearchStaffResponse" message="tns:saveResearchStaffResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResearchStaffMigratorServiceHttpBinding" type="tns:ResearchStaffMigratorServiceIntf">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveResearchStaff">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="saveResearchStaffRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResearchStaffResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResearchStaffMigratorService">
    <wsdl:port name="ResearchStaffMigratorServiceHttpPort" binding="tns:ResearchStaffMigratorServiceHttpBinding">
      <wsdlsoap:address location="https://oracle.qa.semanticbits.com/caaers/services/ResearchStaffMigratorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
